/*=============================
	10. Team Page CSS Start
===============================*/

.team-section {
    .team-card {
        height: 100% !important;
        width: 100%;
        transition: var(--transition);
        &:hover {
            transform: translateY(-10px);
        }
        .team-content {
            .team-name {
                text-wrap: nowrap;
                text-align: center;
                @media (max-width: 575.98px) {
                    font-size: 16px;
                }
            }
            .team-desc {
                text-wrap: nowrap;
                @media (max-width: 575.98px) {
                    font-size: 12px;
                }
            }
        }
    }
}
